* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
:root {
  --primarycolor: tomato;
  --secondarycolor: #101010;
  --textcolor: white;
}
html {
  scroll-behavior: smooth;
}
.hero {
  height: 100vh;
  width: 100%;
  background-image: url(/images/background.png);
  background-size: cover;
  background-position: center;
}
nav {
  position: fixed;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-top: 10px; */
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #191919;
}
.logo {
  color: var(--textcolor);
  font-size: 1.5rem;
  letter-spacing: 1px;
  cursor: pointer;
}
span {
  color: var(--primarycolor);
}
nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0.5rem 0.5rem;
}
nav ul li a {
  color: var(--textcolor);
  text-decoration: none;
  font-weight: 500px;
  text-transform: capitalize;
}
nav ul li a:hover {
  color: var(--primarycolor);
  transition: 0.4s;
}
nav ul li a :active {
  color: rgb(78, 29, 20);
}
.btn {
  background-color: var(--primarycolor);
  color: var(--textcolor);
  border: 2px solid transparent;
  font-weight: bold;
  padding: 0.5rem 2rem;
  text-decoration: none;
  border-radius: 3rem;
  transition: transform 0.4s;
}
nav .btn {
  z-index: 1;
}
.btn:hover {
  transform: scale(1.2);
}
.content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}
h1 {
  color: var(--textcolor);
  margin: 2rem 0 2rem;
  font-size: 3.5rem;
}
h3 {
  color: var(--textcolor);
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
h4 {
  color: var(--primarycolor);
  letter-spacing: 0.2rem;
  font-size: 2rem;
}
.newslatter form {
  width: 25rem;
  max-width: 100%;
  position: relative;
}
.newslatter form input:first-child {
  display: inline-block;
  width: 100%;
  padding: 1.4rem 13rem 1.4rem 1.5rem;
  border: 0.2rem solid var(--primarycolor);
  border-radius: 2rem;
  outline: none;
}
.newslatter form input:last-child {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 0.9rem 3rem;
  border-radius: 2rem;
  background-color: var(--primarycolor);
  box-shadow: 0 0 0.5rem #000, 0 0 0.15rem #858585;
  top: 0.7rem;
  right: 0.6rem;
}
.about {
  width: 100%;
  padding: 9rem 0;
  background-color: #191919;
}
.about img {
  height: auto;
  width: 40rem;
}
.about-text {
  width: 55rem;
  font-size: 5px;
  font-weight: 100;
}
.main {
  width: 113rem;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.5rem;
  flex-wrap: nowrap;
}
.about-text h2 {
  color: var(--textcolor);
  font-size: 3.5rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.about-text h5 {
  color: var(--textcolor);
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.about-text p {
  color: #fcfcfc;
  letter-spacing: 1px;
  line-height: 25px;
  font-size: 10px;
  margin-bottom: 45px;
}
button:hover {
  background-color: transparent;
  border: 2px solid var(--primarycolor);
  cursor: pointer;
}
.projects {
  background: var(--secondarycolor);
  width: 100%;
  padding: 5rem 0;
}
.title h2 {
  color: var(--textcolor);
  font-size: 5rem;
  width: 1100px;
  margin: 3rem auto;
  text-align: center;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40rem;
  gap: 1rem;
}
@media only screen and (max-width: 750px) {
  .box {
    flex-direction: column;
    min-height: 15rem;
    z-index: -1;
  }
  .title h2 {
    font-size: 1.5rem;
    width: 20px;
    margin: 1rem;
  }
}
.card {
  height: 450px;
  width: 335px;
  padding: 2rem 3.5rem;
  background-color: #191919;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
  transition: transform 0.4s;
}
.card .btn {
  position: absolute;

  bottom: 1rem;
  /* left: 1rem;
  right: 1rem; */
  text-align: center;
}
.card i {
  font-size: 3rem;
  color: var(--primarycolor);
  display: block;
  text-align: center;
  margin: 2.5rem 0;
}
h5 {
  color: var(--textcolor);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.card:hover {
  transform: scale(1.2);
  border: 2px var(--primarycolor) solid;
  z-index: 1;
}
.pra p {
  color: #fcfcfc;
  font-size: 1rem;
  line-height: 1rem;
}
.contact-me {
  width: 100%;
  height: 29rem;
  background-color: #191919;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-me p {
  color: var(--textcolor);
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.contact-me .button-two {
  background-color: var(--primarycolor);
  color: var(--textcolor);
  border: 2px solid transparent;
  font-weight: bold;
  padding: 0.5rem 2rem;
  text-decoration: none;
  border-radius: 3rem;
  transition: transform 0.4s;
}
.contact-me .button-two:hover {
  transform: scale(1.3);
  background-color: transparent;
  border: 2px solid var(--primarycolor);
  cursor: pointer;
}
footer {
  position: relative;
  width: 100%;
  height: 35rem;
  background: var(--secondarycolor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer p:nth-child(1) {
  font-size: 30px;
  color: var(--textcolor);
  margin-bottom: 20px;
  font-weight: 400;
}
footer p:nth-child(2) {
  color: var(--textcolor);
  font-size: 17px;
  width: 46rem;
  text-align: center;
  line-height: 2.6rem;
}
.social {
  display: flex;
}
.social a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primarycolor);
  border-radius: 50%;
  margin: 22px 10px;
  color: var(--textcolor);
  text-decoration: none;
  font-size: 20px;
}
.social a:hover {
  transform: scale(1.2);
  transition: 0.3s;
  color: var(--secondarycolor);
}
.form-control {
  margin: 30px;
  background: transparent;
  border: var(--primarycolor);
  outline: none;
  border-bottom: 1px solid var(--primarycolor);
  color: #fcfcfc;
  font-size: 18px;
}
form input {
  height: 2rem;
}
form textarea {
  color: var(--secondarycolor);
  background-color: var(--primarycolor);
}
